body{
    background-color: rgb(194, 194, 194);
}
#all{
    border:20px solid #f0f8ff;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 700px;
    text-align: center;
    margin-left: 300px;
    border-radius: 50px;
    gap: 10px;
}

h1{
    color: #b83f45;
    font-family:'Courier New', Courier, monospace;
    font-size: 70px;
}

.lists{
    display: flex;
    flex-direction: column;

}

#ListInput{

    height: 50px;
    width:400px;
    outline: none;
    font-size: large;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#ListInput:focus{
    border: 2px solid #d2691e;
    height: 50px;
    width:400px;
    outline: none;
    font-size: large;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list{
    width: 400px;
}
.element{
    background-color: #ffffff;
    width: 423px;
    height: 50px;
    display: flex;
    flex-direction: row;
    border: 1px solid #5f5f5f;
   
    align-items: center;
    
    }
.element p{
    width: 200px;
    margin-left: -40px;
}

.checkbox{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: #d3d3d3;
    position: relative;
}

.checkbox:checked {
    background-color: #008000; 
}
.checkbox:checked + p{
    text-decoration: line-through;
}


