.text-line-through {
    text-decoration: line-through;
  }
body{
    background-color: rgb(194, 194, 194);
}
#all{
    border:20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-color: aliceblue;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 700px;
    text-align: center;
    margin-left: 300px;
    border-radius: 50px;
    gap: 10px;
}

h1{
    color: b83f45;
    font-family:'Courier New', Courier, monospace;
    font-size: 70px;
}

.lists{
    display: flex;
    flex-direction: column;
    gap:0px;
}

#ListInput{
    height: 50px;
    width:400px;
    outline: none;
    border: 2px solid chocolate;
    font-size: large;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.list{
    width: 400px;


}
.element{
    background-color: rgb(255, 255, 255);
    width: 399x;
    height: 50px;
    display: flex;
    flex-direction: row;
    border: 2px solid chocolate;
   
    align-items: center;
    
    }
.element p{
    width: 200px;
    margin-left: -40px;
}

.checkbox{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: lightgray;
    position: relative;
}

.checkbox:checked {
    background-color: green; /* Кольоровий фон при вибраному чекбоксі */
    border-color: green;
}
.checkbox:checked + p{
    text-decoration: line-through;
}


