body{
    background-color: rgb(194, 194, 194);
}
#all{
    border:20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-color: aliceblue;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 700px;
    text-align: center;
    margin-left: 300px;
    border-radius: 50px;
    gap: 10px;
}

h1{
    color: b83f45;
    font-family:'Courier New', Courier, monospace;
    font-size: 70px;
}
#ListInput{
    height: 50px;
    width:400px;
  
    border: 2px solid chocolate;

}
.list{
    width: 400px;


}
.element{
    background-color: rgb(255, 255, 255);
    width: 400px;
    display: flex;
    flex-direction: row;
   
   height: 70px;
}
.element p{
    width: 200px;

}

.checkbox{
    appearance: none;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: lightgray;
    position: relative;
}

.checkbox:checked {
 
}


